body {
  position: relative;
}

.owl {
  background: url(../images/card-owl.svg) no-repeat center center / cover;
}

.parrot {
  background: url(../images/card-parrot.svg) no-repeat center center / cover;
}

.large {
  background: url(../images/card-large.svg) no-repeat center center / cover;
}

.duck {
  background: url(../images/card-duck.svg) no-repeat center center / cover;
}

.flamingo {
  background: url(../images/card-flamingo.svg) no-repeat center center / cover;
}

.tucan {
  background: url(../images/card-tucan.svg) no-repeat center center / cover;
}

.bird {
  background: url(../images/card-bird.svg) no-repeat center center / cover;
}

.mockingbird {
  background: url(../images/card-mockingbird.svg) no-repeat center center /
    cover;
}

.back {
  background: url(../images/back.svg) no-repeat center center / cover;
}

.board {
  border-radius: 0 2rem 2rem 0rem;
  padding: 3rem;
  background: #ebf1ff url(../images/grass-bg.svg) repeat-x left bottom;
  position: relative;

  .deck {
    right: 2rem;
    width: 14rem;
    position: absolute;
    height: 20.5rem;
  }
}

.board-content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  > .gameRow {
    flex: 1;
    margin-bottom: 2rem;
    justify-content: space-between;

    [class*="col-"] {
      border: 2px dotted $main-blue;
      background-color: rgba($white, 0.4);

      &.appear {
        animation: appear 200ms linear forwards;
      }
    }
  }
}

.cards {
  display: flex;
  min-height: 25vh;
  justify-content: space-around;

  > [class*="col-"] {
    border: 2px dotted $white;
    background-color: $light-blue;
    margin: 1rem;
    background-position: top center;

    &:hover {
      border: 2px dotted $purple;
      cursor: pointer;
    }

    &.clickable,
    &.disabled {
      &:hover {
        border: 2px dotted $white;
        cursor: auto;
      }
    }
  }
}

span {
  display: none;
}

.badge {
  background: $purple;
  min-width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.6rem;
  border-radius: 0;
}

.players {
  background: $light-blue url(../images/player-bg.svg) repeat-x right bottom;
  border-radius: 2rem 0 0 2rem;
  padding: 3rem;
  color: $white;

  .logo-min {
    width: 45%;
    margin-bottom: 3rem;
  }

  h4 {
    margin-top: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .end-round-btn,
  .update-collection-btn {
    color: $white;
    padding: 1rem;
    border: 0;
    outline: none;
    transition: all 200ms ease-in-out;

    &:active,
    &:focus {
      outline: none;
    }

    &.disabled {
      opacity: 0;
    }

    &.enabled {
      opacity: 1;

      &:hover {
        background: $lime;
      }
    }
  }

  .end-round-btn {
    font-size: 1.8rem;
    background: $purple;
  }

  .update-collection-btn {
    font-size: 1.2rem;
    background: $main-green;
  }

  .player-deck {
    position: relative;

    .no-yet {
      padding-top: 1rem;
      background-color: rgba(133, 211, 238, 0.85);
      padding-top: 1rem;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      font-size: 3rem;
      text-align: center;

      &:before {
        content: "";
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 12.7rem;
        left: 0.4rem;
        background: url(../images/bird.svg) no-repeat center center / contain;
      }
    }

    [name] {
      transition: all 300ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .hide {
    display: none;
  }
}

.selected {
  position: relative;

  &:before {
    content: "";
    background: url(../images/selected.svg) no-repeat center center / cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.posibles {
  background: url(../images/posibles.svg) no-repeat center center / cover;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    background: url(../images/fly-01.svg) no-repeat center center / cover;
    width: 2rem;
    height: 2rem;
    position: absolute;
    animation: random-rigth 2s ease infinite;
  }

  &:after {
    content: "";
    background: url(../images/fly-03.svg) no-repeat center center / cover;
    width: 2rem;
    height: 2rem;
    position: absolute;
    animation: random-left 2s ease infinite;
  }
}

.carousel {
  .carousel-inner {
    padding: 10px 20px;

    h4 {
      margin-bottom: 20px;
    }
  }

  .carousel-control-next {
    right: -40px;
  }

  .carousel-control-prev {
    left: -40px;
  }
  .cards {
    > [class*="col-"] {
      &:hover {
        border: 2px dotted $white;
        cursor: auto;
      }
    }
  }
}

.next-round {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/next-round-bg.svg) no-repeat center bottom / cover;
  z-index: 5;
  display: none;

  &.visible {
    display: flex;
    animation: fade-down 200ms ease-out forwards;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      color: $white;
      font-size: 4.4rem;
    }

    .next-roundBtn {
      background: $light-purple;
      font-size: 1.8rem;
      color: $white;
      padding: 1rem 2rem;
      padding-right: 5rem;
      border: 0;
      outline: none;
      position: relative;
      display: flex;
      justify-content: start;
      margin-top: 4rem;

      &:after {
        content: "";
        width: 2rem;
        height: 2rem;
        background: url(../images/arrow.svg) no-repeat center center / contain;
        position: absolute;
        right: 2rem;
        top: 50%;
        margin-top: -1rem;
      }

      &:hover {
        background: $lime;
      }
    }
  }

  &.curtain-up {
    animation: fade 200ms ease-out forwards;
  }
}

.help {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid $main-green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 4rem;
  bottom: 4rem;
  color: $main-green !important;
  font-size: 1.6rem;
}

.modal-help {
  background: rgba($purple, 0.8) url(../images/how-to.svg) no-repeat center
    center / cover;
}

.newgame-btn {
  text-align: center;
  text-decoration: none;
  color: $white;
  font-size: 2.4rem;
  padding: 1rem 4rem;
  border: 0.1rem solid $white;
  transition: all 200ms ease-in-out;
  margin-top: 4rem;

  &:hover {
    text-decoration: none;
    color: $light-blue;
    border-color: $light-blue;
  }
}

.winner {
  display: none;

  &.visible {
    display: block;
    animation: fade-down 200ms ease-out forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    .grad-bg {
      background: #5659ba url(../images/moon-stars.svg) no-repeat center top /
        contain;
    }

    .main-content {
      height: 100vh;
      border-radius: 0;
    }

    .dark-grass {
      position: fixed;
      bottom: 0;
      background: url(../images/dark-grass.svg) repeat-x left bottom;
      height: 20rem;
      width: 100%;
      z-index: 10;
    }

    .flamingo,
    .parrot {
      bottom: 0;
    }

    .logo {
      img {
        width: 20rem;
        margin-top: 5rem;
        left: 4rem;
        margin-bottom: 6rem;
      }
    }

    h4,
    h1 {
      color: $white;
    }

    h1 {
      font-size: 8rem;
      text-shadow: -0.8rem 0.5rem rgba(0, 0, 0, 1);
    }

    h4 {
      margin-bottom: 3rem;
      font-size: 4rem;
      animation: blink 200ms linear infinite;
    }

    .jump {
      animation: jump 250ms ease-in-out infinite;
    }

    .jump2 {
      animation: jump2 250ms ease-in-out reverse infinite;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 1024px) {
  .players {
    padding: 2rem 1rem 1rem 2rem;
  }

  .no-yet {
    font-size: 2rem !important;
    &:before {
      top: 8.7rem !important;
    }
  }

  .deck {
    display: none;
  }

  .badge {
    min-width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  .winner {
    .allBirds {
      .parrot,
      .flamingo {
        bottom: -10rem;
      }
    }
  }
}
