.owl {
  background: url(../images/card-owl.svg) no-repeat center center / cover;
}

.parrot {
  background: url(../images/card-parrot.svg) no-repeat center center / cover;
}

.large {
  background: url(../images/card-large.svg) no-repeat center center / cover;
}

.duck {
  background: url(../images/card-duck.svg) no-repeat center center / cover;
}

.flamingo {
  background: url(../images/card-flamingo.svg) no-repeat center center / cover;
}

.tucan {
  background: url(../images/card-tucan.svg) no-repeat center center / cover;
}

.bird {
  background: url(../images/card-bird.svg) no-repeat center center / cover;
}

.mockingbird {
  background: url(../images/card-mockingbird.svg) no-repeat center center /
    cover;
}

.back {
  background: url(../images/back.svg) no-repeat center center / cover;
}

.board {
  background: $white;
  border-radius: 0 2rem 2rem 0rem;
  padding: 3rem;
  background: $white url(../images/grass-bg.svg) repeat-x left bottom;
  position: relative;

  .deck {
    right: 2rem;
    width: 14rem;
    position: absolute;
    height: 20.5rem;
  }
}

.board-content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  > .gameRow {
    flex: 1;
    margin-bottom: 2rem;
    justify-content: space-between;

    [class*="col-"] {
      border: 2px dotted $main-blue;
      background-color: $white;
    }
  }
}

.cards {
  display: flex;
  min-height: 25vh;
  justify-content: space-around;

  > [class*="col-"] {
    border: 2px dotted $white;
    background-color: $light-blue;
    margin: 1rem 2rem;
    background-position: top center;

    &:hover {
      border: 2px dotted $purple;
      cursor: pointer;
    }
  }
}

.badge {
  background: $purple;
  min-width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.6rem;
  border-radius: 0;
}

.players {
  background: $light-blue url(../images/player-bg.svg) repeat-x right bottom;
  border-radius: 2rem 0 0 2rem;
  padding: 3rem;
  color: $white;

  .logo-min {
    width: 45%;
    margin-bottom: 3rem;
  }

  h4 {
    margin-top: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .end-round-btn {
    font-size: 1.4rem;
    background: $main-green;
    color: $white;
    padding: 1rem;
    border: 0;

    &:hover,
    &:active {
      background: $lime;
    }

    &:focus {
      outline: none;
    }
  }

  .player-block:last-child {
    display: none;
  }
}

.selected {
  position: relative;

  &:before {
    content: "";
    background: url(../images/selected.svg) no-repeat center center / cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.posibles {
  background: url(../images/posibles.svg) no-repeat center center / cover;
  cursor: pointer;
}

.carousel {
  .carousel-inner {
    padding: 10px 20px;

    h4 {
      margin-bottom: 20px;
    }
  }

  .carousel-control-next {
    right: -40px;
  }

  .carousel-control-prev {
    left: -40px;
  }
  .cards {
    > [class*="col-"] {
      &:hover {
        border: 2px dotted $white;
        cursor: auto;
      }
    }
  }
}
