@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Lato:wght@400;900&display=swap");
/*font-family: 'Chelsea Market', cursive;
font-family: 'Lato', sans-serif;¨*/
body {
  font-family: "Chelsea Market", cursive;
}

@-webkit-keyframes slide {
  0% {
    left: -15%;
  }
  100% {
    left: 101%;
  }
}

@keyframes slide {
  0% {
    left: -15%;
  }
  100% {
    left: 101%;
  }
}

@-webkit-keyframes random-rigth {
  0% {
    right: -15%;
    top: 5%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    right: 5%;
    top: 3%;
  }
  20% {
    right: 10%;
    top: 10%;
  }
  30% {
    right: 15%;
    top: 7%;
  }
  40% {
    right: 20%;
    top: 3%;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    right: 25%;
    top: 13%;
  }
  60% {
    right: 30%;
    top: 7%;
  }
  70% {
    right: 35%;
    top: 11%;
  }
  80% {
    right: 45%;
    top: 5%;
  }
  90% {
    right: 50%;
    top: 1%;
  }
  100% {
    right: 55%;
    top: -5%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes random-rigth {
  0% {
    right: -15%;
    top: 5%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    right: 5%;
    top: 3%;
  }
  20% {
    right: 10%;
    top: 10%;
  }
  30% {
    right: 15%;
    top: 7%;
  }
  40% {
    right: 20%;
    top: 3%;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    right: 25%;
    top: 13%;
  }
  60% {
    right: 30%;
    top: 7%;
  }
  70% {
    right: 35%;
    top: 11%;
  }
  80% {
    right: 45%;
    top: 5%;
  }
  90% {
    right: 50%;
    top: 1%;
  }
  100% {
    right: 55%;
    top: -5%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes random-left {
  0% {
    left: -1%;
    top: 25%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    left: 25%;
    top: 13%;
  }
  20% {
    left: 30%;
    top: 30%;
  }
  30% {
    left: 35%;
    top: 27%;
  }
  40% {
    left: 40%;
    top: 23%;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    left: 45%;
    top: 33%;
  }
  60% {
    left: 58%;
    top: 27%;
  }
  70% {
    left: 75%;
    top: 31%;
  }
  80% {
    left: 85%;
    top: 25%;
  }
  90% {
    left: 90%;
    top: 21%;
  }
  100% {
    left: 105%;
    top: -5%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes random-left {
  0% {
    left: -1%;
    top: 25%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    left: 25%;
    top: 13%;
  }
  20% {
    left: 30%;
    top: 30%;
  }
  30% {
    left: 35%;
    top: 27%;
  }
  40% {
    left: 40%;
    top: 23%;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    left: 45%;
    top: 33%;
  }
  60% {
    left: 58%;
    top: 27%;
  }
  70% {
    left: 75%;
    top: 31%;
  }
  80% {
    left: 85%;
    top: 25%;
  }
  90% {
    left: 90%;
    top: 21%;
  }
  100% {
    left: 105%;
    top: -5%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    top: -50%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    top: -50%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -50%;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -50%;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes jump {
  100% {
    bottom: 32%;
  }
}

@keyframes jump {
  100% {
    bottom: 32%;
  }
}

@-webkit-keyframes jump2 {
  100% {
    bottom: 2%;
  }
}

@keyframes jump2 {
  100% {
    bottom: 2%;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: #6cb0b9;
  padding: 2rem;
  padding-bottom: 0;
  position: relative;
}

.main-content,
.game-content {
  background-color: #ffffff;
  border-radius: 2rem;
  height: calc(100vh - 8rem);
}

.copyright {
  padding: 20px 0;
  color: #ffffff;
}

.main-content,
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grad-bg {
  background: #b7d856;
  background: -webkit-gradient(linear, left bottom, left top, from(#b7d856), color-stop(45%, #d4d754), color-stop(45%, #52c6f0), color-stop(60%, #52c6f0), to(#99c1da));
  background: linear-gradient(0deg, #b7d856 0%, #d4d754 45%, #52c6f0 45%, #52c6f0 60%, #99c1da 100%);
}

.logo {
  height: auto;
}

.logo img {
  width: 20%;
  margin-top: 15rem;
}

.logo p {
  margin: 2rem;
  font-size: 1.8rem;
  color: #1d3f1d;
}

.start-btn,
.start-btn:visited {
  color: #ffffff;
  border: 0;
  border-radius: 0;
  font-size: 2.4rem;
  padding: 1rem;
  width: 24rem;
  background: #459b45;
  margin: 3rem auto 2rem auto;
}

.start-btn:hover, .start-btn:active,
.start-btn:visited:hover,
.start-btn:visited:active {
  background: #d4d754;
}

.start-btn:focus,
.start-btn:visited:focus {
  outline: none;
}

.txt-link,
.txt-link:visited {
  background: none;
  border: 0;
  font-size: 1.6rem;
  color: #ffffff;
}

.txt-link:hover, .txt-link:active,
.txt-link:visited:hover,
.txt-link:visited:active {
  color: #d4d754;
}

.txt-link:focus,
.txt-link:visited:focus {
  outline: none;
}

.allBirds .fence {
  background: url(../images/fence.svg) repeat-x center bottom;
  width: 100%;
  position: absolute;
  bottom: 30%;
  height: 3rem;
  left: 0;
}

.allBirds .grass {
  background: url(../images/grass.svg) repeat-x center top;
  width: 100%;
  position: absolute;
  bottom: 5.5rem;
  height: 15rem;
  left: 0;
  z-index: 10;
}

.allBirds .parrot {
  position: absolute;
  bottom: 5.5rem;
  left: 15%;
  width: 20rem;
  height: 40rem;
  background: url(../images/parrot.svg) no-repeat center bottom/contain;
  z-index: 5;
}

.allBirds .duck {
  position: absolute;
  bottom: 31%;
  left: 25%;
  width: 15rem;
  height: 15rem;
  background: url(../images/duck.svg) no-repeat center bottom/contain;
  z-index: 1;
}

.allBirds .large {
  position: absolute;
  bottom: 30.5%;
  left: 36%;
  width: 9rem;
  height: 30rem;
  background: url(../images/large.svg) no-repeat center bottom/contain;
  z-index: 1;
}

.allBirds .bird {
  position: absolute;
  bottom: 31%;
  left: 45%;
  width: 8.5rem;
  height: 11rem;
  background: url(../images/bird.svg) no-repeat center bottom/contain;
  z-index: 1;
}

.allBirds .mockingbird {
  position: absolute;
  bottom: 30%;
  left: 52%;
  width: 10rem;
  height: 8rem;
  background: url(../images/mockingbird.svg) no-repeat center bottom/contain;
  z-index: 1;
}

.allBirds .tucan {
  position: absolute;
  bottom: 25.5%;
  left: 54%;
  width: 21.5rem;
  height: 27rem;
  background: url(../images/tucan.svg) no-repeat center bottom/contain;
  z-index: 1;
}

.allBirds .flamingo {
  position: absolute;
  bottom: 5.5rem;
  left: 65%;
  width: 20rem;
  height: 38rem;
  background: url(../images/flamingo.svg) no-repeat center bottom/contain;
  z-index: 5;
}

.allBirds .owl {
  position: absolute;
  bottom: 30.5%;
  left: 74%;
  width: 10rem;
  height: 25rem;
  background: url(../images/owl.svg) no-repeat center bottom/contain;
  z-index: 1;
}

.allBirds .trees {
  position: absolute;
  bottom: 41.9%;
  right: 10%;
  width: 17rem;
  height: 12rem;
  background: url(../images/trees.svg) no-repeat center bottom/contain;
}

.allBirds .house-cow {
  position: absolute;
  bottom: 42%;
  left: 20%;
  width: 54rem;
  height: 10rem;
  background: url(../images/house-cow.svg) no-repeat center bottom/contain;
}

.allBirds .cloud-01 {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 15rem;
  height: 10rem;
  background: url(../images/cloud-01.svg) no-repeat center bottom/contain;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}

.allBirds .cloud-02 {
  position: fixed;
  top: 20%;
  right: 15%;
  width: 15rem;
  height: 10rem;
  background: url(../images/cloud-02.svg) no-repeat center bottom/contain;
  animation: slide 27s linear reverse infinite;
}

.allBirds .cloud-03 {
  position: fixed;
  bottom: 47%;
  left: 5%;
  width: 17rem;
  height: 12rem;
  background: url(../images/cloud-03.svg) no-repeat center bottom/contain;
}

.allBirds .cloud-04 {
  position: fixed;
  top: 4%;
  right: 2rem;
  width: 17rem;
  height: 12rem;
  background: url(../images/cloud-04.svg) no-repeat right bottom/contain;
}

.allBirds .fly-01 {
  position: fixed;
  top: 4%;
  right: 2rem;
  width: 5rem;
  height: 4rem;
  background: url(../images/fly-01.svg) no-repeat right bottom/contain;
  -webkit-animation: random-rigth 3s ease infinite;
          animation: random-rigth 3s ease infinite;
}

.allBirds .fly-02 {
  position: fixed;
  top: 4%;
  right: 2rem;
  width: 5rem;
  height: 4rem;
  background: url(../images/fly-02.svg) no-repeat right bottom/contain;
  -webkit-animation: random-left 8s ease infinite;
          animation: random-left 8s ease infinite;
}

.allBirds .fly-03 {
  position: fixed;
  top: 4%;
  right: 2rem;
  width: 5rem;
  height: 4rem;
  background: url(../images/fly-03.svg) no-repeat right bottom/contain;
  animation: random-left 6s ease reverse infinite;
}

.modal {
  background: rgba(69, 155, 69, 0.3);
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.modal .modal-content {
  border: 0;
}

.modal .modal-content .modal-header {
  background: #459b45;
}

.modal .modal-content h5 {
  font-size: 3rem;
  color: #ffffff;
}

#getPlayersModal {
  background: #6cb0b9 url(../images/player-bg.svg) repeat-x left bottom/contain;
}

#getPlayersModal .modal-body,
#getPlayersModal form,
#getPlayersModal label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#getPlayersModal .modal-body {
  padding: 2rem;
  position: relative;
}

#getPlayersModal .modal-body .bird {
  width: 6rem;
  height: 6rem;
  background: url(../images/bird.svg) no-repeat center bottom/contain;
  position: absolute;
  bottom: -3px;
  right: 1rem;
}

#getPlayersModal .modal-body label {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: #6cb0b9;
}

#getPlayersModal .modal-body input {
  padding: 1.5rem 1rem;
  outline: none;
  border: 0.1rem solid #6cb0b9;
  font-size: 1.6rem;
  color: #6cb0b9;
}

#rulesModal .modal-header {
  background: #ffffff;
}

#rulesModal .modal-header .close span {
  font-size: 3rem;
}

#rulesModal .modal-header h1 {
  color: #6cb0b9;
  font-size: 1.8rem;
}

#rulesModal .modal-body {
  text-align: center;
  color: #ffffff;
  background: #6cb0b9;
}

#rulesModal .modal-body p {
  text-align: left;
}

#rulesModal .modal-body h5 {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  color: #d4d754;
}

#rulesModal .modal-body h5.obj {
  text-align: center;
}

#rulesModal .modal-body p,
#rulesModal .modal-body b {
  font-size: 1.4rem;
}

#rulesModal .modal-body img {
  margin: 3rem auto;
  text-align: center;
}

#rulesModal .modal-footer {
  padding-bottom: 17rem;
  background: #6cb0b9 url(../images/player-bg.svg) no-repeat center bottom/contain;
}

@media (max-width: 1024px) {
  #index .logo img {
    margin-top: 5rem;
  }
  .copyright [class*="col"] {
    font-size: 0.8rem;
  }
  .allBirds .grass {
    bottom: 5rem;
  }
  .allBirds .flock {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .allBirds .parrot,
  .allBirds .flamingo {
    bottom: -5rem;
  }
  .allBirds .duck {
    bottom: 26%;
  }
  .allBirds .large {
    bottom: 22%;
  }
  .allBirds .bird,
  .allBirds .mockingbird {
    bottom: 28%;
  }
  .allBirds .tucan {
    bottom: 19%;
  }
  .allBirds .owl {
    bottom: 24%;
  }
}

body {
  position: relative;
}

.owl {
  background: url(../images/card-owl.svg) no-repeat center center/cover;
}

.parrot {
  background: url(../images/card-parrot.svg) no-repeat center center/cover;
}

.large {
  background: url(../images/card-large.svg) no-repeat center center/cover;
}

.duck {
  background: url(../images/card-duck.svg) no-repeat center center/cover;
}

.flamingo {
  background: url(../images/card-flamingo.svg) no-repeat center center/cover;
}

.tucan {
  background: url(../images/card-tucan.svg) no-repeat center center/cover;
}

.bird {
  background: url(../images/card-bird.svg) no-repeat center center/cover;
}

.mockingbird {
  background: url(../images/card-mockingbird.svg) no-repeat center center/cover;
}

.back {
  background: url(../images/back.svg) no-repeat center center/cover;
}

.board {
  border-radius: 0 2rem 2rem 0rem;
  padding: 3rem;
  background: #ebf1ff url(../images/grass-bg.svg) repeat-x left bottom;
  position: relative;
}

.board .deck {
  right: 2rem;
  width: 14rem;
  position: absolute;
  height: 20.5rem;
}

.board-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
}

.board-content > .gameRow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board-content > .gameRow [class*="col-"] {
  border: 2px dotted #6cb0b9;
  background-color: rgba(255, 255, 255, 0.4);
}

.board-content > .gameRow [class*="col-"].appear {
  -webkit-animation: appear 200ms linear forwards;
          animation: appear 200ms linear forwards;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 25vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards > [class*="col-"] {
  border: 2px dotted #ffffff;
  background-color: #86d2ee;
  margin: 1rem;
  background-position: top center;
}

.cards > [class*="col-"]:hover {
  border: 2px dotted #5659ba;
  cursor: pointer;
}

.cards > [class*="col-"].clickable:hover, .cards > [class*="col-"].disabled:hover {
  border: 2px dotted #ffffff;
  cursor: auto;
}

span {
  display: none;
}

.badge {
  background: #5659ba;
  min-width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.6rem;
  border-radius: 0;
}

.players {
  background: #86d2ee url(../images/player-bg.svg) repeat-x right bottom;
  border-radius: 2rem 0 0 2rem;
  padding: 3rem;
  color: #ffffff;
}

.players .logo-min {
  width: 45%;
  margin-bottom: 3rem;
}

.players h4 {
  margin-top: 2rem;
}

.players h1 {
  margin-bottom: 2rem;
}

.players .end-round-btn,
.players .update-collection-btn {
  color: #ffffff;
  padding: 1rem;
  border: 0;
  outline: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.players .end-round-btn:active, .players .end-round-btn:focus,
.players .update-collection-btn:active,
.players .update-collection-btn:focus {
  outline: none;
}

.players .end-round-btn.disabled,
.players .update-collection-btn.disabled {
  opacity: 0;
}

.players .end-round-btn.enabled,
.players .update-collection-btn.enabled {
  opacity: 1;
}

.players .end-round-btn.enabled:hover,
.players .update-collection-btn.enabled:hover {
  background: #d4d754;
}

.players .end-round-btn {
  font-size: 1.8rem;
  background: #5659ba;
}

.players .update-collection-btn {
  font-size: 1.2rem;
  background: #459b45;
}

.players .player-deck {
  position: relative;
}

.players .player-deck .no-yet {
  padding-top: 1rem;
  background-color: rgba(133, 211, 238, 0.85);
  padding-top: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  text-align: center;
}

.players .player-deck .no-yet:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 12.7rem;
  left: 0.4rem;
  background: url(../images/bird.svg) no-repeat center center/contain;
}

.players .player-deck [name] {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.players .player-deck [name]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.players .hide {
  display: none;
}

.selected {
  position: relative;
}

.selected:before {
  content: "";
  background: url(../images/selected.svg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.posibles {
  background: url(../images/posibles.svg) no-repeat center center/cover;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.posibles:before {
  content: "";
  background: url(../images/fly-01.svg) no-repeat center center/cover;
  width: 2rem;
  height: 2rem;
  position: absolute;
  -webkit-animation: random-rigth 2s ease infinite;
          animation: random-rigth 2s ease infinite;
}

.posibles:after {
  content: "";
  background: url(../images/fly-03.svg) no-repeat center center/cover;
  width: 2rem;
  height: 2rem;
  position: absolute;
  -webkit-animation: random-left 2s ease infinite;
          animation: random-left 2s ease infinite;
}

.carousel .carousel-inner {
  padding: 10px 20px;
}

.carousel .carousel-inner h4 {
  margin-bottom: 20px;
}

.carousel .carousel-control-next {
  right: -40px;
}

.carousel .carousel-control-prev {
  left: -40px;
}

.carousel .cards > [class*="col-"]:hover {
  border: 2px dotted #ffffff;
  cursor: auto;
}

.next-round {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/next-round-bg.svg) no-repeat center bottom/cover;
  z-index: 5;
  display: none;
}

.next-round.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade-down 200ms ease-out forwards;
          animation: fade-down 200ms ease-out forwards;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.next-round.visible h1 {
  color: #ffffff;
  font-size: 4.4rem;
}

.next-round.visible .next-roundBtn {
  background: #b48ccb;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 1rem 2rem;
  padding-right: 5rem;
  border: 0;
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 4rem;
}

.next-round.visible .next-roundBtn:after {
  content: "";
  width: 2rem;
  height: 2rem;
  background: url(../images/arrow.svg) no-repeat center center/contain;
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -1rem;
}

.next-round.visible .next-roundBtn:hover {
  background: #d4d754;
}

.next-round.curtain-up {
  -webkit-animation: fade 200ms ease-out forwards;
          animation: fade 200ms ease-out forwards;
}

.help {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #459b45;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 4rem;
  bottom: 4rem;
  color: #459b45 !important;
  background-color: #b8d855;
  font-size: 1.6rem;
}

.help:hover {
  cursor: pointer;
}

.modal-help {
  background: rgba(86, 89, 186, 0.8) url(../images/how-to.svg) no-repeat center center/cover;
}

.newgame-btn {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 2.4rem;
  padding: 1rem 4rem;
  border: 0.1rem solid #ffffff;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  margin-top: 4rem;
}

.newgame-btn:hover {
  text-decoration: none;
  color: #86d2ee;
  border-color: #86d2ee;
}

.winner {
  display: none;
}

.winner.visible {
  display: block;
  -webkit-animation: fade-down 200ms ease-out forwards;
          animation: fade-down 200ms ease-out forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.winner.visible .grad-bg {
  background: #5659ba url(../images/moon-stars.svg) no-repeat center top/contain;
}

.winner.visible .main-content {
  height: 100vh;
  border-radius: 0;
}

.winner.visible .dark-grass {
  position: fixed;
  bottom: 0;
  background: url(../images/dark-grass.svg) repeat-x left bottom;
  height: 20rem;
  width: 100%;
  z-index: 10;
}

.winner.visible .flamingo,
.winner.visible .parrot {
  bottom: 0;
}

.winner.visible .logo img {
  width: 20rem;
  margin-top: 5rem;
  left: 4rem;
  margin-bottom: 6rem;
}

.winner.visible h4,
.winner.visible h1 {
  color: #ffffff;
}

.winner.visible h1 {
  font-size: 8rem;
  text-shadow: -0.8rem 0.5rem black;
}

.winner.visible h4 {
  margin-bottom: 3rem;
  font-size: 4rem;
  -webkit-animation: blink 200ms linear infinite;
          animation: blink 200ms linear infinite;
}

.winner.visible .jump {
  -webkit-animation: jump 250ms ease-in-out infinite;
          animation: jump 250ms ease-in-out infinite;
}

.winner.visible .jump2 {
  animation: jump2 250ms ease-in-out reverse infinite;
}

@media (max-width: 1024px) {
  .players {
    padding: 2rem 1rem 1rem 2rem;
  }
  .game-content {
    height: calc(100vh - 10rem);
  }
  .no-yet {
    font-size: 2rem !important;
  }
  .no-yet:before {
    top: 8.7rem !important;
  }
  .deck {
    display: none;
  }
  .badge {
    min-width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  .winner .allBirds .parrot,
  .winner .allBirds .flamingo {
    bottom: -10rem;
  }
  .help {
    bottom: -1.5rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 28%;
  }
}
/*# sourceMappingURL=main.css.map */